#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

input:focus,
textarea:focus {
  outline: none;
}
.sidebar {
  max-width: 240px;
  width: 20vw;
  height: 100vh;
  background-color: #f8f8f7;
  padding: 0px 15px;
}

.sidebar-header {
  font-size: 14px;
  padding-top: 14px;
  font-weight: 600;
}

.sidebar-user {
  width: 100%;
  font-size: 12px;
  font-weight: 700px;
  color: #91918e;
  margin-top: 70px;
}

.sidebar-new-button {
  position: fixed;
  bottom: 40px;
  left: 15px;
  font-size: 8px;
}

.editor-wrapper {
  width: 80vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
.editor-form {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.editor-emoji {
  width: 82px;
  height: 82px;
  font-size: 48px;
  margin-top: 100px;
}

.editor-input {
  height: 40px;
  font-size: 40px;
  font-weight: 600;
  border: none;
}

.editor-textarea {
  margin-top: 56px;
  border: none;
}

.editor-delete-button {
  width: 50px;
  height: 30px;
  font-size: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}
