#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

.sidebar {
  max-width: 240px;
  width: 20vw;
  height: 100vh;
  background-color: #f8f8f7;
  padding: 0px 15px;
}

.sidebar-header {
  font-size: 14px;
  padding-top: 14px;
  font-weight: 600;
}

.sidebar-user {
  width: 100%;
  height: 28px;
  font-size: 12px;
  font-weight: 700px;
  color: #91918e;
  margin-top: 70px;
  padding: 2px 7px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar-user:hover {
  background-color: #dfdfdd;

  .sidebar-new-button {
    visibility: visible;
  }
}

.sidebar-user p {
  display: block;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
}

.sidebar-new-button {
  font-size: 12px;
  visibility: hidden;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1px;
}

.sidebar-new-button:hover {
  background-color: #91918d;
}

.main-document {
  /* height: 100px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-document-holder {
  width: 100%;
  height: 28px;
  color: #4d4d4c;
  flex-direction: row;
  justify-content: space-between;
}

.sub-document .doc-title {
  color: #91918d;
}

.sub-document {
  margin-left: 5px;
}

.doc-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.doc-holder button {
  visibility: hidden;
}

.doc-holder:hover {
  background-color: #dfdfdd;

  .document-plus-button {
    visibility: visible;
  }
}

.document-list {
  height: 80vh;
  overflow-y: scroll;
}

.editor-wrapper {
  width: 80vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
}
.editor-form {
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.editor-emoji {
  width: 82px;
  height: 82px;
  font-size: 48px;
  margin-top: 100px;
}

.editor-input {
  height: 40px;
  font-size: 40px;
  font-weight: 600;
  border: none;
}

.editor-textarea {
  margin-top: 56px;
  border: none;
}

.editor-delete-button {
  width: 50px;
  height: 30px;
  font-size: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.title {
  cursor: pointer;
}
