html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}
body {
  line-height: 1;
  font-family: "Pretendard-Regular";

}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
.inner {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex: 1 1 0%;
  background: #fff;
  cursor: text;
}
.side_bar {

  height: 100%;
  order: 1;
  flex-grow: 0;
  flex-shrink: 0;
  /* pointer-events: none; */
  position: relative;
  z-index: 111;
  display: flex;
  flex-direction: column;
  background: #eee;
  box-shadow: rgba(255, 255, 255, 0.05) -1px 0px 0px 0px inset;
  width: 240px;
  transition-duration: 200ms;
  transition-timing-function: ease;
  transition-property: width;
}

.logo {
  display: flex;
  height: 32px;
  width: auto;
  justify-content: start;
  align-items: center;
  margin: 6px 8px;
  border-bottom: 1px solid #e2e2e2;
}
.logo h1 {
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  line-height: 20px;
}

.menu ul {
  flex-grow: 0;
  flex-shrink: 0;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;

}

.menu ul li {
position: relative; /* 아이콘을 고정시킬 부모 요소에 상대적 위치를 설정 */
color: rgb(155, 155, 155);
user-select: none;
transition: background 150ms;
cursor: pointer;
border-radius: 6px;
display: flex;
margin-left: 0px;
margin-right: 0px;
font-weight: 500;
}
.menu ul li:hover{
    background-color: #444;
}
.menu_box{
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 14px;
    min-height: 27px;
    height: 30px;
    padding: 4px 8px;
}
.icon{
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.443);
    width: 22px;
    height: 22px;
    display: flex
;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}
.menu_text{
    flex: 1 1 auto;
    white-space: nowrap;
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
i{
    color: rgb(155, 155, 155);;
}
.content{
    order: 3;
    width: 100%;
    overflow: hidden;
    isolation: auto;
}
.header{
    max-width: 100vw;
    z-index: 100;
    user-select: none;
}
.header > div{
    width: calc(100% + 0px);
    max-width: 100vw;
    height: 44px;
    opacity: 1;
    transition: opacity 700ms, color 700ms;
    position: relative;
    left: 0px;
}
.header_box{
    display: flex
;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 44px;
    padding-left: 12px;
    padding-right: 10px;
}
.title_box{
    display: flex
    ;
        align-items: center;
        line-height: 1.2;
        font-size: 14px;
        height: 100%;
        flex-grow: 0;
        margin-right: 8px;
        min-width: 0px;
}
.title_box h2{
    transition: background 20ms ease-in;
    align-items: center;
    flex-shrink: 1;
    border-radius: 6px;
    font-size: inherit;
    line-height: 1.2;
    padding: 2px 6px;
}
.side_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.side_icon:hover{
    background-color: #eee;
    
}
.add_content_box{
    border-top: 1px solid #e2e2e2;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 15px;
    box-sizing: border-box;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.add_content_box:hover{
    background-color: #444;
    
}
.add_box{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 2px;
    gap: 15px;
}
.add_box_text{
    font-size: 14px;
    color: rgb(155, 155, 155);
}
.menu ul li{
    position: relative;
}
.sub_menu_box{
    position: absolute;
    left: 0;
    bottom: 0;
}
.main{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    
}
.welcome_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome_box >div{
    display: flex;
    align-items: center;
}
.welcome_box img{
    width: 400px;

  }

.add_icon {
  display: block; /* 반드시 보여야 하므로 display 속성 확인 */
  cursor: pointer;
  color: #666; /* 버튼 색상 */
  font-size: 1rem; /* 아이콘 크기 */
  margin-right: 25px;
}

.add_icon i {
  display: inline-block;
}


.menu ul li:hover {
  background-color: #444;

}

.menu_box {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 15px;
  min-height: 27px;
  height: 30px;
  padding: 4px 8px;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}

.add-submenu-text {
  margin-left: 10px;
  margin-right: 10px;
  position: absolute;
  right: 35px; /* 오른쪽 끝에 위치 */
}

.icon {
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.443);
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  z-index: 1; /* 텍스트보다 위에 나타나게 설정 */
}

.menu_text {
  flex-grow: 1; /* 텍스트 박스가 가능한 너비를 다 차지 */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 35px; /* 버튼 공간을 위해 오른쪽 여백 추가 */
}

.delete_icon {
  position: absolute;
  top: 50%;
  right: 8px; /* 삭제 아이콘이 텍스트 오른쪽 끝에 위치하도록 설정 */
  transform: translateY(-50%); /* 수직 가운데 정렬 */
  cursor: pointer;
  color: red;
  font-size: 16px;
  z-index: 2; /* 다른 아이콘보다 위에 위치하도록 설정 */
}

i {
  color: rgb(155, 155, 155);
}
.content {
  order: 3;
  width: 100%;
  overflow: hidden;
  isolation: auto;
}
.header {
  max-width: 100vw;
  z-index: 100;
  user-select: none;
}
.header > div {
  width: calc(100% + 0px);
  max-width: 100vw;
  height: 44px;
  opacity: 1;
  transition: opacity 700ms, color 700ms;
  position: relative;
  left: 0px;
}
.header_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 44px;
  padding-left: 12px;
  padding-right: 10px;
}
.title_box {
  display: flex;
  align-items: center;
  line-height: 1.2;
  font-size: 14px;
  height: 100%;
  flex-grow: 0;
  margin-right: 8px;
  min-width: 0px;
}
.title_box h2 {
  transition: background 20ms ease-in;
  align-items: center;
  flex-shrink: 1;
  border-radius: 6px;
  font-size: inherit;
  line-height: 1.2;
  padding: 2px 6px;
}
.side_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.side_icon:hover {
  background-color: #eee;
}
.add_content_box {
  border-top: 1px solid #e2e2e2;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  gap: 15px;
  box-sizing: border-box;
  align-items: center;
  padding: 10px 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.add_content_box:hover {
  background-color: #444;
}
.add_box {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 2px;
  gap: 15px;
}
.add_box_text {
  font-size: 14px;
  color: rgb(155, 155, 155);
}
.menu ul li {
  position: relative;
}
.sub_menu_box {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.welcome_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome_box > div {
  display: flex;
  align-items: center;
}
.welcome_box img {
  width: 400px;
}

.welcome_box h2 {
  font-size: 40px;
}
.welcome_text_box {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.welcome_text_box p {
  color: #444;
}
.welcome_text_box h2 {
  font-weight: 900;
}

/* 사용자 입력 박스 사이즈  */

.title_box h2 {
  font-size: 24px; /* 글자 크기 */
  padding: 10px;
  margin: 0;
  border: none;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
}

/* 메인 텍스트 에어리어 스타일 */
.main textarea {
  width: 100%;
  height: calc(100vh - 250px); /* 화면 크기에 비례 */
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  resize: none; /* 크기 조정 비활성화 */
  outline: none;
  margin-top: 30px; /* 글자 입력란 부분 높이 수정 */
}
/* 선택시 메인 텍스트 변경 */
.main textarea:focus {
  border-color: #007bff; /* 클릭 시 테두리 색 변경 */
  border-width: 2px;
}

/* 사이드바 스타일 */
.menu ul {
  max-height: calc(100vh - 100px); /* 사이드바 높이 제한 */
  overflow-y: auto; /* 스크롤 활성화 */
}

/* 세 페이지 입력란 */
h2 {
  font-size: 24px;
  padding: 22px;
  border: 1px solid #ccc; /* 선택 사항: 테두리 추가 */
  border-radius: 5px; /* 선택 사항: 모서리를 둥글게 */
  box-sizing: border-box; /* 패딩 포함 폭 계산 */
}
